<!doctype html>
<html>
  <head>
    <title>My App</title>
  </head>
  <body>
    <div class="tabbable tabs-left" style="width:960px;margin: 0 auto;">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#mD" data-toggle="tab">My Dashboard</a>
    </li>
    <li>
      <a href="#nR" data-toggle="tab">New Request</a>
    </li>
    <li>
      <a href="#sR" data-toggle="tab">Search Request</a>
    </li>
  </ul>
  <div class="tab-content">
    <li class="tab-pane active" id="mD">
      <h1>My Dashboard</h1><hr>
      </hr>
    </li>
    <li class="tab-pane" id="nR">
      <h1>New Request</h1><hr>
      </hr>
      <form>
        <fieldset>
          <label>Label name</label>
          <input type="text" placeholder="Type something...">
          <span class="help-block">Example block-level help text here.</span>
          <label class="checkbox">
            <input type="checkbox"> Check me out
          </label>
          <button type="submit" class="btn">Submit</button>
        </fieldset>
      </form>      
    </li>
    <li class="tab-pane" id="sR">
      <h1>Search Request</h1><hr>
      </hr>
    </li>
  </div>
</div>

  </body>
</html>