<html>
<head>
</head>
<body>
<b>Dear <%= @user[:Fullname] %>, </b>
</br>
An account has been created for you.
</br>
Username: <%= @user[:Username] %>
</br>
Password: <%= @user[:Username] %>
</br>
If you need any help talk to the administrator
</body>
</html>