<html>
<head>
</head>
<body>
<b>Request from <%= @user[:Fullname] %></b>
</br>
<b><%= @request.Description %></b>
</br>
If you want to see the request <a href="http://0.0.0.0:3000/request/<%= @request.id %>/edit">click here</a>
</body>
</html>